<html>
<head>
    <title>启动按钮</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
    <body>
        <form action="/" method="post">
            <h1>提交</h1>
            <table style="margin: 0px auto">
                <tr>
                    <td>
                        <input type="text" name="one">
                    </td>
                    <td width="50px">
                        {{ form.oneSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="two">
                    </td>
                    <td>
                        {{ form.twoSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="three">
                    </td>
                    <td>
                        {{ form.threeSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="four">
                    </td>
                    <td>
                        {{ form.fourSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="five">
                    </td>
                    <td>
                        {{ form.fiveSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="six">
                    </td>
                    <td>
                        {{ form.sixSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="seven">
                    </td>
                    <td>
                        {{ form.sevenSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="eight">
                    </td>
                    <td>
                        {{ form.eightSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="nine">
                    </td>
                    <td>
                        {{ form.nineSubmit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="ten">
                    </td>
                    <td>
                        {{ form.tenSubmit }}
                    </td>
                </tr>
            </table>
            <div style="text-align: center">{{ form.allSubmit }}</div>
        </form>
    </body>
</html>